.popup__input_container {
  display: flex;
  flex-direction: column;
  max-width: 238px;
  margin-bottom: 15px;
  box-size: border-box;

}

.popup__input_container:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .popup__input_container {
    max-width: 358px;
  }
}
