.profile__container {
    display: grid;
    align-content: center;
    grid-template-areas: 
    "name edit"
    "info info";
    grid-row-gap: 16px;
    grid-column-gap: 18px;
}

@media screen and (max-width:620px) {
    .profile__container {
        padding-bottom: 36px;
        padding-top: 26px;
        grid-column-gap: 10px;
        grid-row-gap: 14px;
    }
  }