.element__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-width: 246px;
    padding-top: 25px;
    padding-bottom: 31px;
    padding-left: 21px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
}